aside {
    background-color: #424242;
    float: left;
    width: 214px;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
    overflow: hidden;
}

aside > nav > ul {
    margin: 0;
    padding-left: 0;
}

aside > nav > ul > li li:last-child{
    padding-bottom: 2px;
}

aside > nav > ul > li > ul{
    text-transform: none;
}

aside > nav > ul > li > ul > li > ul{
    padding: 0;
}

aside > nav > ul > li:first-child{
    list-style-image: url(/_img/bookmark_bullet.png);
    margin-top: 2px;
}

aside > nav > ul > li{
    padding: 16px 0 16px 16px;
    list-style-position:inside;
    border-top: 1px solid  #666;
    list-style-image: url(/_img/tree_bullet.png);
    font-size: 16px;
    font-family: 'Oswald Regular', 'Myriad Pro', Arial, sans-serif;
}

aside > nav > ul {
    padding-left: 0;
}

aside > nav > ul > li > a {
    color: #ffffff;
}
aside > nav > ul > li.selected {
    background-color: #212121;
    padding-bottom: 0;
}
aside > nav > ul > li.selected + * {
    border-top: 0;
}

aside > nav > ul > li > ul{
    padding-left: 0;
}

aside > nav > ul > li > ul > li > a{
    padding-left: 30px;
}

aside > nav > ul > li > ul > li > ul{
    padding-left: 45px;
}

aside > nav > ul > li > ul > li > ul > li > ul{
    padding-left: 15px;
}

aside > nav > ul > li li {
    padding: 16px 0 16px 0;
    list-style: none;
    background-color: #212121;
}

aside > nav > ul > li li > a {
    color: #757575;
}

aside > nav > ul > li li.selected > a {
    color: #fff;
}

aside > nav > ul li.expanded > a:after {
    content: url(/_img/copy.png);
    float: right;
    position: relative;
    top: -6px;
    right: 19px;
}