body > header {
    position: relative;
    padding-bottom: 60px;
    background-color: #3f51b5;
    min-width: 472px;
}

body > header > * {
    display: inline-block;
}

body > header > #menuBtn,
body > header > #logo {
    float: left;
}

body > header > #avatar,
body > header > #search {
    float: right;
}

#menuBtn {
    background-color: #424242;
    padding: 20px 20px; /*todo check sizes with psd*/
}

#logo {
    padding: 11px 26px 8px 13px;
    background-color: #283593;
}

#search {
    padding: 0;
    margin: 0;
}

#search > input {
    float: right;
    width: 130px;
    max-width: 151px;
    min-width: 100px;;
    margin-top: 12px;
    padding-left: 41px;
    height: 32px;
    border: none;
    border-radius: 16px;
    background-color: #283593;
    color: #5c6bc0;
}

#searchLogo{
    position: relative;
    width: 16px;
    height: 15px;
    top: 22px;
    right: -36px;
}

#avatar {
    margin: 12px 15px 11px;
    background-color: white;
    border-radius: 50px;
}